

# image file formats, keep the folders but not the actual images
*.png
*.jpg
*.jpeg
*.webp

# video
*.mp4

# audio
*.mp3
*.wav
*.aiff


# specific folders
Music/*
Generic\ Assets/*


# random stuff
*/__pycache__/*
*.DS_Store
